@model SaveWolrdWebApp.DisasterServiceReference.DisasterB

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DisasterB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisasterBankAccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisasterBankAccountId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisasterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisasterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Victims)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Victims)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
